html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
}

#container{
    display: flex;
    
    overflow: auto;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #1B1B1B;
    /* 0px 0px 10px rgba(0, 0, 0, 0.1); */
    
    #map {
        height: 100%;
        width: 98.5%;

        border: 1px solid #292929;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* padding: 5px; */
        margin: 5px;
    }

    footer{
        width: 98.5%;
        /* margin: 10px; */
        height: 10%;

        display: flex;
        justify-content:space-around;
        align-items: center;
        
        /* padding: 5px; */
        /* margin: 5px; */
        margin-left: 5px;
        margin-top: -5px;
        margin-bottom: 5px;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid #292929;
        border-top: none;
        
        background-color: #303030;


        button{
            cursor: pointer;

            border: none;
            background: none;

            color: #fff;
        }
        
        button:hover{
            opacity: 60%;;
        }
    }

}

#local:focus {
    outline: none;
    border-color: none; /* Opcional: Ajuste a cor da borda ou remova-a */
    }

#detailsBUtton{
    padding: 1% 2%; 
    background-color: #1e90ff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 2%;
}

#emergencia{
    background-color: #2e2d2d;
}
#emergencia h1 {
    text-align: center;
    font-size: 300%;
    margin: 20px 0;
    color: white;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
}

#emergencia-header {
    text-align: center;
    background: linear-gradient(180deg, #8b0000, #b22222);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto 20px;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#emergencia-header h2 {
    font-size: 175%;
    margin: 0;
}

#emergencia-header .emergencia-numero {
    font-size: 225%;
    font-weight: bold;
    margin-top: 10px;
}

#emergencia-numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 300%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 8%;
}

.emergencia-card {
    background-color: #fff;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(238, 44, 44, 0.836);
    padding: 15px;
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.emergencia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgb(255, 4, 4);
}

.emergencia-card .numero {
    font-size: 2rem;
    font-weight: bold;
    color: #b22222;
    margin-bottom: 10px;
}

.emergencia-card .descricao {
    font-size: 125%;
    font-weight: bolder;
    color: #555;
}


.infowindow{
    font-family: Arial, sans-serif;
    padding: 10px;

    h4{
        margin: 0 0 10px 0;
        color: #007bff;
    }
    

   .btn_infoWindow{
        margin-top: 5px;
        padding: 8px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;    
    }

    .btn_infoWindow:hover {
        background-color: #0056b3;
    }

    .modoRota{
        background: none;
        border: none;

        
    }

    .modoRota:hover{
        opacity: 0.5;
    }
}








/* Desktop */
@media screen and (min-width: 1024px) {
  #nav-mobile{
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1023px) {
    #nav-mobile{
        display: none;
      }

}

/* Smartphone */
@media screen and (min-width: 1px) and (max-width: 800px){
    
    #main{
        height: 100%;
        margin: 0px;
        footer{
            width: 99%;
            /* margin: 10px; */
            height: 10%;

            display: flex;
            justify-content:space-around;
            align-items: center;
     
            margin: 0px;

            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }

        #map{
            width: 97%;
            margin: 5px;
        }
            
    }
    

}
