html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
}

#container{
    display: flex;
    
    overflow: auto;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #1B1B1B;
    /* 0px 0px 10px rgba(0, 0, 0, 0.1); */
    
    #map {
        height: 100%;
        width: 98.5%;

        border: 1px solid #292929;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* padding: 5px; */
        margin: 5px;
    }

    footer{
        width: 98.5%;
        /* margin: 10px; */
        height: 10%;

        display: flex;
        justify-content:space-around;
        align-items: center;
        
        /* padding: 5px; */
        /* margin: 5px; */
        margin-left: 5px;
        margin-top: -5px;
        margin-bottom: 5px;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid #292929;
        border-top: none;
        
        background-color: #303030;

        a{
            text-decoration: none;
            color: #fff;
        }

    }

}


nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 30%;
   
    background-color: #1B1B1B;
    padding: 20px;
    color: #fff;
    overflow-y: auto; /* Permitir scroll no nav */
    

    .logo_nav{
        width: 100%;
        /* margin-left: 25%; */

        margin-bottom: 30%;
    }

    /* img{
        width: 100%; */
        /* margin-bottom: -10px; */
    /* } */

    .buscar{
        background: none;
        /* border: none; */
        border-radius: 0px;
        display: flex;
        cursor: pointer; 
    
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .local{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        
        .input_pesquisa{
            position: relative;
            display: flex;
            align-items: center;

            width: 90%;
            height: 3.5vh;

            #local{
                background-color: #292929;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 5px;
    
                position: absolute;
                padding-left: 10px;
            }
            
            img{
                position: absolute;
                right: -5%;
            }
        }
        

        /* Estilização para a lista suspensa */
        .dropdown-localizacao {
            display: none; /* Inicialmente escondida */
            position: absolute;
            background-color: rgb(102, 5, 5);
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 5;
            font-size: 13px;
            
        }

        .opcao-localizacao {
            padding: 0px 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .opcao-localizacao:hover, .dropdown-localizacao:hover{
            background-color: #c00303;
        }
    }

    #controls label,
    #controls input,
    #controls button {
        margin: 5px ;
        color: #fff;
        background-color: #1e90ff;
    }
   
    
   .multi_select{
          width: 100%;
            margin: 10px 5px;
          .select_proced{
              position: relative;

              select{
                  width: 100%;
                  font-weight: bold;
              }

              .overSelect{
                  position: absolute;
                  left: 0; right: 0; top: 0; bottom: 0;
              }
          }

          #checkboxes{
              display: none;
              border: 1px solid #404040;

              label{
                  display: block;
              }

              label:hover{
                  background-color: #0c151f;
              }
          }

      }
}





