html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
}

#container{
    display: flex;
    
    overflow: auto;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #1B1B1B;
    /* 0px 0px 10px rgba(0, 0, 0, 0.1); */
    
    #map {
        height: 100%;
        width: 98.5%;

        border: 1px solid #292929;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* padding: 5px; */
        margin: 5px;
    }

    footer{
        width: 98.5%;
        /* margin: 10px; */
        height: 10%;

        display: flex;
        justify-content:space-around;
        align-items: center;
        
        /* padding: 5px; */
        /* margin: 5px; */
        margin-left: 5px;
        margin-top: -5px;
        margin-bottom: 5px;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid #292929;
        border-top: none;
        
        background-color: #303030;


        button{
            cursor: pointer;

            border: none;
            background: none;

            color: #fff;
        }
        
        button:hover{
            opacity: 60%;;
        }
    }

}

#local:focus {
    outline: none;
    border-color: none; /* Opcional: Ajuste a cor da borda ou remova-a */
    }

#detailsBUtton{
    padding: 1% 2%; 
    background-color: #1e90ff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 2%;
}

#emergencia{
    background-color: #2e2d2d;
}
#emergencia h1 {
    text-align: center;
    font-size: 300%;
    margin: 20px 0;
    color: white;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
}

#emergencia-header {
    text-align: center;
    background: linear-gradient(180deg, #8b0000, #b22222);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto 20px;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#emergencia-header h2 {
    font-size: 175%;
    margin: 0;
}

#emergencia-header .emergencia-numero {
    font-size: 225%;
    font-weight: bold;
    margin-top: 10px;
}

#emergencia-numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 300%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 8%;
}

.emergencia-card {
    background-color: #fff;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(238, 44, 44, 0.836);
    padding: 15px;
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.emergencia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgb(255, 4, 4);
}

.emergencia-card .numero {
    font-size: 2rem;
    font-weight: bold;
    color: #b22222;
    margin-bottom: 10px;
}

.emergencia-card .descricao {
    font-size: 125%;
    font-weight: bolder;
    color: #555;
}

#comoUsar{
    background-color: #2e2d2d ;
}

#sobreNos{
    background-color: #2e2d2d ;
}

.sobreNos-header h2 {
    text-align: center;
    font-size: 3vw;
    margin: 2% 0;
    color: white;
    border-bottom: 0.3vw solid #ffffff;
    padding-bottom: 1%;
}

.sobreNos-header p {
    font-size: 1.5vw;
    color: #f0f0f0;
    display: block;
    text-align: justify;
    line-height: 1.8;
    margin: 2% auto;
    max-width: 80%;
    padding: 2%;
    background: #003366;
    border-radius: 2%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

.desenvolvedoras h3 {
    color: white;
    text-align: center;
    font-size: 2vw;
    margin-top: 3%;
}

.cards-desenvolvedoras {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3% 0;
    flex-wrap: wrap;
}

.desenvolvedora-card {
    text-align: center;
    width: 25%;
}

.desenvolvedora-card img {
    width: 40%;
    height: 65%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.2vw solid #ddd;
    margin-bottom: 5%;
}

.desenvolvedora-card p {
    font-size: 1.2vw;
    color: #ffffff;
}

.desenvolvedora-card a {
    color: #49bfe2;
    text-decoration: none;
}

.desenvolvedora-card a:hover {
    color: #72248a;
}

.projetos-passados h3 {
    color: white;
    text-align: center;
    font-size: 2vw;
    margin: 3% 0;
}

.projetos-cards {
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto-card {
    text-align: center;
    width: 40%;
    color: white;
    font-size: 1.2vw;
}

.projeto-card .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
}

.projeto-card video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projeto-card p {
    margin-top: 1%;
    font-size: 1.2vw;
}


/* Desktop */
@media screen and (min-width: 1024px) {
  #nav-mobile{
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1023px) {
    #nav-mobile{
        display: none;
      }

}

/* Smartphone */
@media screen and (min-width: 1px) and (max-width: 800px){
    
    #main{
        height: 100%;
        margin: 0px;
        footer{
            width: 99%;
            /* margin: 10px; */
            height: 10%;

            display: flex;
            justify-content:space-around;
            align-items: center;
     
            margin: 0px;

            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }

        #map{
            width: 97%;
            margin: 5px;
        }
            
    }
    

}
