/* const displayHospitalsNav = (hospitals) => {
    const displayHospitaisEncontrados = document.getElementById('displayHospitaisEncontrados');
    displayHospitaisEncontrados.innerHTML = ''; // Clear previous content
    hospitals.forEach(hospital => {
        displayHospitaisEncontrados.innerHTML += `
            <div id="hospital-${hospital.nome}" tabindex="0">
                <h2>${hospital.nome}</h2>
                <p><strong>Endereço:</strong> ${hospital.endereco}</p>
            </div>
        `;
    });
}; */


.hospital-link{
    flex:1;
    text-decoration: none;
}



#displayHospitaisEncontrados{

    background-color: #1B1B1B;

    div[id^="hospital-"]{
        background-color: #313030;
        background-color: #313030;
        margin-bottom: 5%;
        margin-top: 5%;
        justify-content: space-between;
        align-items: center;
        padding: 2%;

        h2{
            color: rgb(255, 255, 255);
        }

        p{
            color: rgb(252, 215, 48);
        }
        
    }
}

/*--------------------------------------------------*/
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /*width: 70%; reduzido*/
    width: 40%; /* tela cheia */
    
    background-color: #1B1B1B;
    padding: 20px;
    color: #fff;
    overflow-y: auto; /* Permitir scroll no nav */
    

    .logo_nav{
        width: 100%;
        /* margin-left: 25%; */

        margin-bottom: 30%;
    }

    /* img{
        width: 100%; */
        /* margin-bottom: -10px; */
    /* } */

    .buscar{
        background: none;
        /* border: none; */
        border-radius: 0px;
        display: flex;
        cursor: pointer; 
    
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .local{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        position: relative;
        
        .input_pesquisa{
            display: flex;
            align-items: center;

            width: 100%;
            height: 3.5vh;

            border: 1px solid #fff;
            border-radius: 5px;
            
            padding-left: 10px;

            .caixa_input{
                position: absolute;
                width: 100%;
                
                #local {
                    background-color: #1B1B1B;
                    width: 85%;
                    height: 100%;

                    border: none;
                }       
            }
            
            img{
                position: absolute;
                right: 3%; /* tela cheia */
            }
            
        }

        /* Estilização para a lista suspensa */
        .dropdown-localizacao {
            display: none; /* Inicialmente escondida */
            position: absolute;
            
            background-color: #fff;
            color: #0c151f;
            border: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            
            z-index: 5;
            font-size: 13px;
            
            width: 100%; /* Set the width to match #local input */
           
            top: 80%;
            left: 0%;
        }

        .opcao-localizacao {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0px 5px;
            line-height: 0.0;
        }

        /* .opcao-localizacao img{
            margin-left: 10px;
        } */

        .opcao-localizacao:hover, .dropdown-localizacao:hover{
            background-color: #629ce7;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            
        }
    }

    #controls label,
    #controls input,
    #controls button {
        margin: 5px ;
        color: #fff;
        background-color: #1e90ff;
    }

    #controls button{
        cursor: pointer;
    }
   
    
   .multi_select{
          width: 100%;
            margin: 10px 5px;
          .select_proced{
              position: relative;

              select{
                  width: 100%;
                  font-weight: bold;
              }

              .overSelect{
                  position: absolute;
                  left: 0; right: 0; top: 0; bottom: 0;
              }
          }

          #checkboxes{
              display: none;
              border: 1px solid #404040;

              label{
                  display: block;
              }

              label:hover{
                  background-color: #0c151f;
              }
          }

      }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}


.popup {
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    z-index:5;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow:auto;
}

.botao_fecha{
    position:fixed;
    top: 5%;
    right:5%;
    font-size:larger;
    font-family:"antiqua";
    background-color: transparent;
    border-color: transparent;
    color:white;

    cursor: pointer;
}


/* Desktop */
@media screen and (min-width: 1024px) {
    nav{
        width: 40%;
    }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1023px) {
    nav{
        width: 50%;
    }

}

/* Smartphone */
@media screen and (min-width: 1px) and (max-width: 800px){
    
    

    nav{
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 40%;
        z-index: 10;

        background-color: rgba(27, 27, 27, 0.9);

        display: flex;
        flex-direction: column;
        /* gap: 5px; */
        padding: 10px;

        .local{
            display: flex;
            flex-direction: column;
            gap: 5px
        }
    }

    #displayHospitaisEncontrados{
        position: fixed;
        bottom: 0;
        left: 0;
        
        width: 100%;
        background-color: #1b1b1b;

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        z-index: 10;
        max-height: 30%;
        overflow-y: auto;

        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        padding: 10px;
        
        color: white
    }

    #displayHospitaisEncontrados.open{
        transform: translateX(0);
    }

    #map{
        height: calc(100% - 50px); /* Espaço para o nav no topo */
        width: 100%;
    }

    .overlay{
        display: none; /* Para evitar conflitos */
    }

}

