/* const displayHospitalsNav = (hospitals) => {
    const displayHospitaisEncontrados = document.getElementById('displayHospitaisEncontrados');
    displayHospitaisEncontrados.innerHTML = ''; // Clear previous content
    hospitals.forEach(hospital => {
        displayHospitaisEncontrados.innerHTML += `
            <div id="hospital-${hospital.nome}" tabindex="0">
                <h2>${hospital.nome}</h2>
                <p><strong>Endereço:</strong> ${hospital.endereco}</p>
            </div>
        `;
    });
}; */

.hospital-link{
    flex:1;
    text-decoration: none;
}



#displayHospitaisEncontrados{

    background-color: #1B1B1B;

    div[id^="hospital-"]{
        background-color: #313030;
        background-color: #313030;
        margin-bottom: 5%;
        margin-top: 5%;
        justify-content: space-between;
        align-items: center;
        padding: 2%;

        h2{
            color: rgb(255, 255, 255);
        }

        p{
            color: rgb(252, 215, 48);
        }
        
    }
}

/*--------------------------------------------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}


.popup {
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    z-index:5;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow:auto;
}

.botao_fecha{
    position:fixed;
    top: 5%;
    right:5%;
    font-size:larger;
    font-family:"antiqua";
    background-color: transparent;
    border-color: transparent;

    cursor: pointer;
}

